# To run the code in this repository, ensure you have the following installed.


simcse         
datasets      
evaluate      
fairseq       
numpy         
pandas        
protobuf      
sentencepiece
transformers