# To run the code in this repository, ensure you have the following installed.



simcse       == 0.4
datasets     == 2.12.0; python_version < '3.10.9'
evaluate     == 0.4.0
fairseq      == 0.12.2
numpy        == 1.25.0
pandas       == 1.5.3
transformers == 4.30.2